h1 {
  color: red;
  text-align: center;
  font-size: 40px;
}
p {
  font-size: 20px;
}
a {
color: rgb(255, 0, 0);  
font-size: 35px;	
}
a:visited {
color: green;
}
a:hover {
color: tomato;
}

body {
background-color: lightgray;
}